<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

<span style="font-size:80%">[문제1]<br><br></span>
```다음 중 for문으로 10번 반복하는 방법으로 올바른 것을 모두 골라주세요```

1. for i in range(10):
2. for i in range(5, 16):
3. for i in range(10, 0):
4. for i in range(20, 40, 2):
5. for i in range(1, 10, 1):

<span style="color:red">답변</span>

1 4

----

:<span style="font-size:80%">[문제2]<br><br></span>
```아래 코드에서 잘못된 부분에 대해서 설명해주세요```

count = input()

for i in range(count)<br>
&emsp;&emsp;print('i의 값은', end=' ')<br>
&emsp;&emsp;print(i)<br>

<span style="color:red">답변</span>

for줄 range(count)를 쓸려고 한다면 먼저 함수 count부터 정수형태로 만들어야합니다 그리고 세미콜론도 탈자되있어서 실행이안됩니다

In [2]:
count =int(input())

for i in range(count):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 코드를 실행 했을 때 결과물로 올바른 것을 골라주세요```

for i in reversed("python"):<br>
&emsp;&emsp;print(i, end='.')<br>


1. n.o.h.t.y.p.
2. p.y.t.h.o.n.
3. nothyp
4. python

<span style="color:red">답변</span>

1

----

<span style="font-size:80%">[문제4]<br><br></span>
```리스트에 저장된 데이터를 아래와 같이 출력하세요```

오피스텔 = [ [201, 202], [301, 302], [401, 402] ]

201호<br>
202호<br>
`----`

301호<br>
302호<br>
`----`

401호<br>
402호<br>
`----`

<span style="color:red">답변</span>

In [6]:
오피스텔 = [ [201, 202], [301, 302], [401, 402] ]
for 층 in 오피스텔:
    for 호 in 층:
        print(str(호) + "호")
    print("-" * 7)

201호
202호
-------
301호
302호
-------
401호
402호
-------

----

<span style="font-size:80%">[문제5]<br><br></span>
```ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰 경우에만 종가를 출력하는 코드를 작성해주세요```

ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

<span style="color:red">답변</span>

In [28]:
for i in ohlc[2:]:
    if i[2] > 180:
        print(i)

[300, 310, 300, 310]